<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:**  Estudainte 1: Daniela Michel Mercado, Estudiante 2: Cristina Lobera De la Mora

**Fecha:** 09 de septiembre del 2021.

**Expediente** : Daniela: IF724506 y Cristina: IF714997.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: Link con el enlace del repositorio del creador del proyecto

# Tarea 2: Clase 4

In [1]:
import numpy as np
import time,math 
import matplotlib.pyplot as plt
from functools import reduce
import pandas as pd

ImportError: cannot import name 'animation' from partially initialized module 'matplotlib' (most likely due to a circular import) (C:\Users\crist\anaconda3\lib\site-packages\matplotlib\__init__.py)

### Ejercicio 1: 
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

Código de solución estudiante 1

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
ans = list(map(lambda x: (x[0], x[2] * x[3]) if x[2] * x[3] >= 100 else (x[0], x[2] * x[3] + 10), orders))
ans

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

Código de solución estudiante 2

In [3]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

import numpy as np
func1 = lambda x,y : x*y
func2 = lambda x: x + 10 if x < 100 else x
prod = list(map(func2,[func1(orders[i][2],orders[i][3]) for i in np.arange(len(orders))]))
prod


result=list(map(lambda x,y: (x[0],y),orders,prod))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

### Ejercicio 2:
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

Codigo de solución estudiante 1

In [4]:
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
def increase(x):
    if x >= 100:
        return x
    else:
        return x + 10

ad = lambda a,b:a + b

ans2 = list(map(lambda x: (x[0], np.add.reduce(np.array(list(map(lambda y:increase(y[1] * y[2]) , x[1:] ))))) , orders))
ans2

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

Codigo de solución estudiante 2

In [5]:
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)]]

solucion = list(map(lambda x: (x[0], reduce(lambda x, y: x + y, 
           list(map(lambda y: y[1] * y[2] if y[1] * y[2] > 100 else y[1] * y[2] + 10, x[1:])))), orders))

solucion

NameError: name 'reduce' is not defined

### Ejercicio 3:
3. Resolver los anteriores ejercicios usando pandas (DataFrame)

Codigo de solución estudiante 1

In [6]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

orders = pd.DataFrame(orders)

orders['ans'] = orders.iloc[:,2] * orders.iloc[:,3]
orders['ans'] = orders['ans'].apply(increase)
orders

       0                                   1  2      3     ans
0  34587          Learning Python, Mark Lutz  4  40.95  163.80
1  98762       Programming Python, Mark Lutz  5  56.80  284.00
2  77226       Head First Python, Paul Barry  3  32.95  108.85
3  88112  Einführung in Python3, Bernd Klein  3  24.99   84.97

Codigo de solución estudiante 2

In [ ]:
import pandas as pd

df = pd.DataFrame(orders, columns = ["Order Number", "Title and Author", "Quantity","Price"]).set_index("Order Number")
condicion = lambda x: x if x > 100 else x + 10
df['Cost'] = df['Quantity'] * df['Price']
df['Total'] = df['Cost'].apply(condicion)
df

### Ejercicio 4:
4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

Codigo de solucion estudiante 1

In [7]:
lista = "the notion of a lambda function goes all the way back to the origin of computer science"

lista = lista.split()

ans = list(filter(lambda x: len(x) >= 4,lista))
ans

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

Codigo de solución estudiante 2

In [ ]:
texto = "the notion of a lambda function goes all the way back to the origin of computer science"
list(filter(lambda x: len(x) >= 4, texto.split()))

### Ejercicio 5
5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

Codigo de solución estudiante 1

In [8]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

In [9]:
temp = np.array(temperatures)
crct = list(filter(lambda x: x >= 32 and x <= 80,temp))
ans = len(crct) / len(temp)
#Desarrollado para tener mayor claridad, aunque es innecesaria la variable de crct
ans

0.4666666666666667

Codigo de solución estudiante 2

In [6]:
lista = len(list(filter(lambda x: 32 <= x <= 80, temperatures))) / len(temperatures)
lista * 100

NameError: name 'temperatures' is not defined

### Ejercicio 6:
6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [11]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [12]:
point_xy = np.array(point_xy)
ans = list(np.minimum.reduce(point_xy))
# Nos devuelve la X mas pequena y la y mas pequena pero no juntas

f = lambda a,b: a if (a < b) else b
ans2 = [reduce(f,point_xy[:,0]),reduce(f,point_xy[:,1])]
ans, ans2

([0, 2], [0, 2])

Codigo de solución estudiante 2

In [ ]:
np.minimum.reduce(point_xy)